[General]
Name=ADanaLife
[Video]
BaseCX=${OBS_BASE_WIDTH}
BaseCY=${OBS_BASE_HEIGHT}
OutputCX=${OBS_OUTPUT_WIDTH}
OutputCY=${OBS_OUTPUT_HEIGHT}
FPSCommon=${OBS_FPS_COMMON}
ScaleType=lanczos
[Output]
Mode=Advanced
[AdvOut]
Encoder=${OBS_STREAM_ENCODER}
RecType=Standard
RecEncoder=none
TrackIndex=1
RecTrackIndex=1
Track1Bitrate=${OBS_AUDIO_BITRATE}
ApplyServiceSettings=true
[Audio]
SampleRate=48000
